* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f0ff;
    color: #333;
    text-align: center;
}

header {
    background-color: #6a0dad;
    color: white;
    padding: 30px 20px;
}

header h1 {
    margin: 0;
    font-size: 35px;
}

header p {
    font-size: 18px;
}

section {
    background-color: white;
    margin: 25px auto;
    padding: 25px;
    width: 90%;
    max-width: 1000px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

h2 {
    color: #6a0dad;
    border-bottom: 2px solid #d8b4fe;
    padding-bottom: 10px;
}

img {
    width: 170px;
    height: 130px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid #8e44ad;
}

audio {
    width: 250px;
    margin: 10px;
}

video {
    width: 280px;
    height: 180px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid #8e44ad;
}

footer {
    background-color: #6a0dad;
    color: white;
    padding: 15px;
    margin-top: 30px;
}

